@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

/* Minimal Card Styles */

.minimalCardContainer {
  cursor: pointer;
}

.minimalCardImageContainer {
  position: relative;
  width: 350px;
  height: 500px;

  @media screen and (max-width: 576px) {
    width: 325px;
    height: 475px;
  }
}

.minimalCardImageDeckContainer {
  position: relative;
  width: 215px;

  @media screen and (max-width: 576px) {
    width: 150px;
    height: 220px;
  }
}

.minimalCardImage {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  object-fit: contain;
  &:hover {
    transform: scale(1.025);
    transition: transform 0.3s ease-in-out;
  }
}

.cardPageCardContainer {
  height: 75vh;
  width: 100%;
  max-width: 500px;
  position: relative;

  @media (max-width: 768px) {
    width: 95%;
  }
}
